.p-col-fixed {
    width: 55%;
}

.btn-feed-search {
    margin-left: -33px !important;
}

.nav .nav-item a {
    display: block;
    padding: 1.2rem 1rem 0.8rem 1rem;
    text-decoration: none;
}

.active-feed {
    border-bottom: 3px solid #1A73E8;
}

.inp-feed-search {
    width: 100%;
}
